.jugadores {
  width: 200px;

}

.error {
  color: red;
}
.container{
  background-color: hsl(208, 100%, 97%, .7);
  padding: 30px 30px;
  border-radius: 30px;
  text-align: center;
  max-width: 50%;
  margin: auto;
  position: relative;
  top: 200px;
  
}
.containerTittle{
  max-width: 100%;
  position: relative;
  bottom: 20px;
  height: 40px;
}
.navbar{
  background-color: rgb(14, 15, 80)!important;
}

.conainerDelimite{
  border: 1px solid;
}
@media only screen and (max-width: 600px)  {
  .jugadores{
    width: 80%;
  }
 
}