<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="'/home'">
    </a>
    <button  mat-flat-button color="primary" type="button"(click)="btnLogout()">Cerrar sesión</button>
  </div>
</nav>
<div class="containerPrincipal">

<div class="wrapper">
  <div class="one">
    <h3 m-5>Ronda {{numeroRonda}}</h3>
    <h3>Jugadores {{jugadoresRonda}}</h3>
    <h4>Tiempo: {{tiempo}} </h4>
    <button type="button" (click)="iniciarRonda()" class="btn btn-info btnIniciar">Iniciar</button>
  </div>

  <div class="three">
    <div class="card" *ngFor="let card of cartasDelTablero">  
      <img  src="../assets/img/Avengers.png" />
      <button (click)="retirar(card.cartaId)" class="btn btn-primary">Retirar</button>
  </div>  

  </div>

  <div class="mazo">
    <div class="card" *ngFor="let card of cartasDelJugador">  
        <img  src="{{card.url}}" />
        Poder {{card.poder}}
        <button mat-button (click)="moverCarta(card.cartaId)" class = "btn btn-primary" color="primary">PONER</button>
 
    </div>  
  </div>
</div>
</div>
 