<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="'/home'">
    </a>
    <button  mat-flat-button color="primary" type="button"(click)="btnLogout()">Cerrar sesión</button>
  </div>
</nav>
<div class="wrapper">
  <div class="one">
    <h3>Ronda #2</h3>
    <h3>Jugadores 4/4</h3>
    <h4>Tiempo: 50s </h4>
    <button type="button" class="btn btn-info">Iniciar</button>
  </div>

  <div class="three">

  </div>

  <div class="mazo">
    <div class="card">  
    </div>
    <div class="card">  
    </div>
    
  </div>
</div>