<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="'/home'">
    </a>
    <button  mat-flat-button color="primary" type="button"(click)="btnLogout()">Cerrar sesión</button>
  </div>
</nav>
<div class="container">
  <h3>Ronda #2</h3>
  <h3>Jugadores 4/4</h3>
  <h4>Tiempo: 50s </h4>
  <button type="button" class="btn btn-info">Iniciar</button>
  <ul class="list-group">
    <li class="list-group-item">
     <ul>
      <li class="list-group-item">
        <span>Puntos: 14</span><br>
      </li>
      <li class="list-group-item">
        <span>Puntos:10</span><br>
      </li>
     </ul>
    </li>
    <a routerLink="/tablero" class="btn btn-primary">Partida</a>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
     <ul>
      <li class="list-group-item">
        <span>Puntos: 140</span><br>
        <button type="button" class="btn btn-info">Poner</button>
      </li>
      <li class="list-group-item">
        <span>Puntos:100</span><br>
        <button type="button" class="btn btn-info">Poner</button>
      </li>
     </ul>
    </li>
    <a routerLink="/tablero" class="btn btn-primary">Mazo</a>
  </ul>
</div>