.container{
    background-color: rgba(110, 180, 245, 0.7);
    
    border-radius: 30px;
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding: 30px 30px;
    position: relative;
    top: 200px;
  }
  .list-group{
    position: relative;
    margin-top: 20px;
    width: 280px;
    top: 50%;
    left: 30%;
  }
  .title-list{
    position: relative;
    margin-top: 100px;
    top: 50%;
    left: 30%;
  }
  .mazo{
    background-color: rgba(105, 106, 107, 0.7);
    position: relative;
    margin-top: 20px;
    width: 110%;
    border-radius: 30px;
    height: 100%;
    left: 70%;
    display: grid;
    gap: 1em!important;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    justify-content: space-evenly;
    align-items: start;
    justify-items: center;
  }
  .navbar{
    background-color: rgb(14, 15, 80)!important;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    background-color: rgba(105, 106, 107, 0.7);
    border-radius: 10px;
    margin: 9px 6px;
    height: 20vh;
    position: relative;
    color: white;
  }
  .btnIniciar{
    position: relative;
    margin-top: -50%;
    margin-left: 70%;

  }
.containerPrincipal{
}
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: rgba(105, 106, 107, 0.7);
    border-radius: 30px;
    top: 10%;
    left: 30px;
    position: relative;
  }
  /* From uiverse.io by @alexruix */
.card {
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 184px;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
text-align: center;
 }
 .card img{
  width: 100px;
  height: 170px;
  background-size:cover;
  background-repeat: no-repeat;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
  background-color: #008bf8;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  font-size: 0.30em;
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 0.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
