<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="'/home'">
    </a>
    <button  mat-flat-button color="primary" type="button"(click)="btnLogout()">Cerrar sesión</button>
  </div>
</nav>

<div class="contenedor">
 
    <div class="card" *ngFor="let juego of dataSource">
      <span>Id Del Juego:  {{juego.id}}</span><br>
      <span>Estado del Juego:   {{juego.iniciado}}</span><br>
      <span>Cantidad de Jugadores: {{juego.cantidadJugadores}}</span><br>
      <button (click)="onBoard()" class="btn btn-primary">Entar</button>

      <ng-container *ngIf="!juego.iniciado">
        <button (click)="iniciar(juego.id)" mat-flat-button color="primary">Iniciar</button>
      </ng-container>
      <ng-container *ngIf="juego.iniciado">
        <button (click)="entrar(juego.id)" mat-flat-button color="primary">Entrar</button>
      </ng-container>
    </div>

</div>
 
  

