.list-group{
    position: relative;
    margin-top: 20px;
    width: 280px;
    top: 50%;
    left: 30%;
  }
  .title-list{
    position: relative;
    margin-top: 100px;
    top: 50%;
    left: 30%;
  }
  .container{
    background-color: rgba(110, 180, 245, 0.7);
    
    border-radius: 30px;
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding: 30px 30px;
    position: relative;
    top: 200px;
  }
  .navbar{
    background-color: rgb(14, 15, 80)!important;
  }