.list-group{
    position: relative;
    margin-top: 20px;
    width: 280px;
    top: 50%;
    left: 30%;
  }
  .title-list{
    position: relative;
    margin-top: 100px;
    top: 50%;
    left: 30%;
  }