<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="'/home'">
    </a>
    <button  mat-flat-button color="primary" type="button"(click)="btnLogout()">Cerrar sesión</button>
  </div>
</nav>
<h1>LISTA DE JUEGOS</h1>
<ul class="list-group">
  <li class="list-group-item">
    <span>Juego:ffff</span><br>
    <span>Estado del Juego: Iniciado</span><br>
    <span>Cantidad de Jugadores: 14</span><br>
    <a routerLink="/tablero" class="btn btn-primary">Entar</a>
  </li>
  <li class="list-group-item">
    <span>Juego: xxxx</span><br>
    <span>Estado del Juego: Creado</span><br>
    <span>Cantidad de Jugadores: 2</span><br>
    <a routerLink="/tablero" class="btn btn-primary">Entar</a>
  </li>
  <li class="list-group-item">
    <span>Juego: gggg</span><br>
    <span>Estado del Juego: Creado</span><br>
    <span>Cantidad de Jugadores: 3</span><br>
    <a routerLink="/tablero" class="btn btn-primary">Entar</a>
  </li>
</ul>
